:root{
  --brand-secondary: #E77E21;
}
.yantramanav-thin {
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.yantramanav-light {
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.yantramanav-regular {
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.yantramanav-medium {
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.yantramanav-bold {
  font-family: "Yantramanav", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.yantramanav-black {
  font-family: "Yantramanav", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.font-secondary {
  font-family: var(--font-stack-secondary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-secondary);
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.heading {
  text-transform: uppercase;
}
.font-zen {
  font-family: "zen-tokyo-zoo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-columns-with-icons {
  padding-block: 60px;
}

section#shopify-pc__banner {
  display: none !important;
}
.box__collection_first_products{
  height: 100%;
  width: 50%;
}
.desktop-hide-important-grid{
  display: none !important;
}
@media (max-width: 1024px) {
  .box__collection_first_products{
    width: 100%;
  }
  .desktop-hide-important-grid{
    display: grid !important;
  }
}
.cae-input{
  border-radius: 0 !important;
}
.cae-button {
  background-color: #000!important;
  color: #fff!important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none!important;
  font-family: 'work-sans', sans-serif;
}
.customer-avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 280px;
  aspect-ratio: 1;
  margin-bottom: 40px;
}