:root {
  --brand-color: #e77e21;
}
.yantramanav-thin {
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.yantramanav-light {
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.yantramanav-regular {
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.yantramanav-medium {
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.yantramanav-bold {
  font-family: "Yantramanav", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.yantramanav-black {
  font-family: "Yantramanav", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.font-secondary {
  font-family: var(--font-stack-secondary);
  font-weight: var(--font-weight-secondary);
  font-style: var(--font-style-secondary);
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.heading {
  text-transform: uppercase;
  color: var(--heading-color);
}
.font-zen {
  font-family: "zen-tokyo-zoo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-columns-with-icons {
  padding-block: 60px;
}

section#shopify-pc__banner {
  display: none !important;
}
.box__collection_first_products {
  height: 100%;
  width: 50%;
}
.desktop-hide-important-grid {
  display: none !important;
}
@media (max-width: 1024px) {
  .mobile-hide-important {
    display: none !important;
  }
  .box__collection_first_products {
    width: 100%;
  }
  .desktop-hide-important-grid {
    display: grid !important;
  }
}
.cae-input {
  border-radius: 0 !important;
}
.cae-button {
  background-color: #000 !important;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  font-family: "work-sans", sans-serif;
}
.customer-avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 280px;
  aspect-ratio: 1;
  margin-bottom: 40px;
}

/* product item custom styles */
.product-item__info-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.d-flex {
  display: flex !important;
}
#CollectionProductGrid {
  border-top: 1px solid var(--stroke);
}
#CollectionProductGrid.search-page-products{
  border-top: none !important;
}
.no-overflow {
  overflow: hidden !important;
}

@media only screen and (min-width: 1000px) {
  .mobile-only {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .desktop-only {
    display: none;
  }
}

a.button .icon {
  right: 15px;
  display: flex;
  align-content: center;
  align-items: center;
}

a.button .icon svg {
  position: relative;
  top: 0;
  margin: 0;
}
.button.button--outline .icon svg path {
  stroke: #000;
  fill: inherit;
}
.text-uppercase {
  text-transform: uppercase;
}
.section.with-padding {
  padding: var(--box-auto-top) var(--box-smaller-padding);
}
.event-blog-date {
  display: inline-block;
  padding: 30px;
  margin-bottom: 12px;
  background: url(//www.socialstatuspgh.com/cdn/shop/files/date_bubble.png?v=13329498737783203737)
    no-repeat center center/100% auto;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.event-meta {
  color: #ffff;
}
.event-meta-date,
.event-meta-tags {
  text-transform: uppercase;
}
.event-meta-date {
  font-size: 30px;
  font-weight: 600;
}
.event-meta-tags {
  font-size: 24px;
  font-weight: 600;
}

.card-product-title {
  color: #292929;
  font-family: var(--font-stack-headings);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
body div#insta-feed {
  margin-bottom: 0 !important;
}
.instafeed-new-layout-wrapper {
  margin-top: calc(80px - 1rem);
  align-items: start;
  gap: var(--media-grid-gap);
  grid: auto-flow dense 250px / repeat(12, minmax(0, 1fr)) !important;
  display: grid;
  padding-top: var(--media-grid-padding-top);
  padding-bottom: var(--media-grid-padding-bottom);
}
.instafeed-new-layout-item {
  height: 100% !important;
  width: 100% !important;
}
@media screen and (min-width: 768px) {
  .instafeed-new-layout-item:first-child {
    grid-area: span 1 / span 3;
  }
  .instafeed-new-layout-item:nth-child(2) {
    grid-area: span 2 / span 3;
  }
  .instafeed-new-layout-item:nth-child(3) {
    grid-area: span 1 / span 3;
  }
  .instafeed-new-layout-item:nth-child(4) {
    grid-area: span 2 / span 3;
  }
  .instafeed-new-layout-item:nth-child(5) {
    grid-area: span 2 / span 3;
  }
  .instafeed-new-layout-item:nth-child(6) {
    grid-area: span 2 / span 3;
  }
  .instafeed-new-layout-item:nth-child(7) {
    grid-area: span 1 / span 3;
  }
  .instafeed-new-layout-item:nth-child(8) {
    grid-area: span 1 / span 3;
  }
}
@media screen and (max-width: 768px) {
  .instafeed-new-layout-wrapper {
    grid: auto-flow dense 200px / repeat(2, minmax(0, 1fr)) !important;
  }
  .collection-cta {
    padding-top: 50px;
  }
}
span.toggle__title {
  font-size: 21px;
  font-weight: 500;
  font-family: var(--font-stack-headings);
}
.site-box-content .rte p {
  font-family: var(--font-stack-headings);
  font-size: 16px;
}

.account-action-container {
  padding-block-end: 0 !important;
}

/* customer order */
td.line_image {
  height: 145px;
}
.text-w-icon__title {
  text-transform: uppercase;
}
.terms-relentless {
  order: -1;
  text-align: left !important;
}
.cart-policy {
  font-size: 14px;
}
.cart-actions.buttons-holder{
  justify-content: flex-end;
}
.cart-actions.buttons-holder button{
  flex-grow: 0;
}
.collection-list-container {
  gap: 15px;
}
span.fina-sale-message {
  text-transform: uppercase;
}

@media screen and  (min-width: 1023px){
  .list-collection-item{
    max-width: 700px;
    height: 65vh;
    align-self: end;
  }
}
.cart-heading-container{
  align-items: center;
  justify-content: center;
}
.cart-heading-container::before,
.cart-heading-container::after{
  display: none !important;
}
.box--big.cart-heading-box,
.box--big.cart-item-box{
  min-height: 65vh !important;
}
.site--box.no-border::after{
  display: none !important;
}
.featured-colleciton-header{
  padding-block: var(--box-auto-top);
}