.collection-header-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: var(--window-height);
    padding-bottom: 60px;
  }
  .collection-header-banner .left-content {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .collection-header-banner .top-content .subtitle {
    margin: 20px 0;
    color: #727272;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.2px;
  }
  .collection-header-banner .right-slider {
    height: 100%;
    overflow-y: auto;
  }
  .collection-header-banner .right-slider::-webkit-scrollbar {
    width: 7px;
    background: transparent;
  }
  .collection-header-banner .right-slider::-webkit-scrollbar-thumb {
    background: rgba(217, 217, 217, 0.32);
    border-radius: 4px;
  }
  .collection-header-banner .right-slider {
    scrollbar-color: #fff transparent;
    scrollbar-width: 7px;
  }
  .collection-header-banner .slider-cell {
    width: 100%;
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .collection-header-banner .slider-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .slider-title-container .slider-title {
    color: #fff;
    transition: transform 0.3s ease;
  }
  .slider-title-container .slider-title:hover {
    transform: scale(1.05);
  }
  .slider-title-container .slider-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease;
  }
  .slider-title-container .slider-title:hover::after {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .collection-header-banner{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr calc(var(--window-height) - 60px);;
        height: 100%;
        padding-bottom: 0;
    }
    .collection-header-banner .left-content{
        padding: 24px 16px;
        gap: 48px;
    }
  }