:root {
  --product-masonry-gap: 27px;
}

.product-masonry {
  padding-inline: 85px;
  padding-block: 120px;
  max-width: 1440px;
  margin-inline: auto;
  @media (max-width: 768px) {
    padding-inline: 1rem;
    padding-block: 5rem;
  }
}

.product-masonry__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
  margin-bottom: 120px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 4rem;
  }
}

.product-masonry__header-description,
.product-masonry__header-title {
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.product-masonry__header-title h1 {
  font-size: 4.8rem;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
}
.product-masonry__header-description p{
   color: #727272;
   font-family: var(--font-stack-work-sans);
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: -0.18px;
   margin-bottom: 0;
}
.product-masonry__content-inner {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: var(--product-masonry-gap);
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.product-masonry__content-products-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--product-masonry-gap);
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.product-masonry__content-media-image {
  height: 100%;
  position: relative;
}
.product-masonry__content-media-image img {
  height: 100%;
  object-fit: cover;
}
.product-masonry__content-media-image-caption_container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(
    176deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.28) 64.66%
  );
}

.product-masonry__content-media-image-caption {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(227, 227, 227, 0);
  font-family: var(--font-stack-headings);
  font-size: 134px;
  font-style: normal;
  font-weight: bold;
  line-height: 103px; /* 76.866% */
  text-transform: uppercase;
  margin-bottom: 3rem;
  @media (max-width: 768px) {
    font-size: 6rem;
    line-height: 5rem;
  }
}

.product-masonry .product-item .caption{
   padding-inline: 0;
   padding-block-end: 0;
   min-height: auto;
}

.product-masonry__content-media-image-button a{
   width: 100%;
   text-align: center;
}